.warehouse-table {
  width: 100%;
  border-collapse: collapse;
}

.warehouse-table th, .warehouse-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.warehouse-table th {
  background-color: #f2f2f2;
}

.warehouse-table tbody tr:hover {
  background-color: #f2f2f2;
}

button.mat-icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button.mat-icon-button:hover {
  background-color: #f2f2f2;
}

.add-button-container {
  margin-top: 20px;
  text-align: right; /* Alinea el botón a la derecha */
}

button.mat-raised-button {
  /* Añadir más estilos si es necesario */
}
